/* General Styles */
.root {
    --body-background: #f4f4f4;
    --header-background: white;
    --text-color: #333;
    --icon-tint-color: #333;
    --box-shadow: #3333;
    --gradient-secondary: #555;
    --gradient-secondary-translucent: #5558;
}

.root.dark {
    --body-background: #333;
    --header-background: #444;
    --text-color: #eee;
    --icon-tint-color: #ddd;
    --box-shadow: #3333;
    --gradient-secondary: #eee;
    --gradient-secondary-translucent: #1118;
}

.root.amoled {
    --body-background: #181818;
    --header-background: rgb(15, 15, 15);
    --text-color: #ddd;
    --icon-tint-color: #ddd;
    --box-shadow: rgb(15, 15, 15, 25);
    --gradient-secondary: #eee;
    --gradient-secondary-translucent: #0008;
}

body {
    font-family: "Dubai", sans-serif;
    /*font-family: "sofiasoft", sans-serif;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-background); /* Neutral light background */
    color: var(--text-color);
    transition: color 0.3s linear, background-color 0.3s linear;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Loading Animation */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust based on your layout */
    text-align: center;
}

.loading-text {
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(90deg, #1A6DFF, #C822FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%; /* For gradient animation */
    animation: gradient-move 3s infinite linear, fade 1.5s infinite, dots 1.5s steps(1, end) infinite;
    display: inline-flex;
    align-items: center;
}

@keyframes gradient-move {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes loading-dots {
    0% {
        content: "Loading Products";
    }
    33% {
        content: "Loading Products .";
    }
    66% {
        content: "Loading Products ..";
    }
    100% {
        content: "Loading Products ...";
    }
}

form {
    background: var(--header-background);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--box-shadow);
    max-width: 400px;
    width: 100%;
}

form label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 20px;
}

form a {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    text-align: end;
}

form input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--body-background);
    background: var(--body-background);
    outline: none;
    font-size: 14px;
}

form input:focus {
    border-color: var(--box-shadow);
}

form button {
    width: 100%;
    padding: 15px;
    background: linear-gradient(90deg, var(--icon-tint-color), var(--gradient-secondary));
    border: none;
    border-radius: 10px;
    color: var(--header-background);
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;
}

form button div {
    margin-right: 15px;
    margin-bottom: 0;
}

form button:hover {
    background: linear-gradient(90deg, var(--gradient-secondary), var(--icon-tint-color));
}

button {
    /*width: 100%;*/
    padding: 10px;
    background: linear-gradient(90deg, var(--icon-tint-color), var(--gradient-secondary));
    color: var(--body-background);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    /*transition: all 0.3s ease-in-out;*/
}

button:hover {
    background: linear-gradient(90deg, var(--gradient-secondary), var(--icon-tint-color));
}

span {
    font-weight: bold;
}

/* Navigation Links */
a {
    margin: 0 10px;
    color: var(--text-color);
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease, text-shadow 0.2s ease;
}

a:hover {
    text-shadow: 0 0 5px var(--text-color);
}

.arrow-back {
    margin-left: 30px;
}